{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logiswift admin | dev</title>
    <script type="module" crossorigin src='{% static "assets/index-D_R63I08.js" %}'></script>
    <link rel="stylesheet" crossorigin href='{% static "assets/index-DUBIC0HN.css" %}'>
  </head>
  <body>
    <div id="root"></div>

  </body>
</html>
